.input {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-areas: "label control";
    grid-template-columns: min-content 1fr;
  }

  &--icon {
    position: relative;
  }
}

.input__label {
  @include label();

  display: block;

  @media (min-width: $tablet-width) {
    margin: 17px 24px 0 -1px;
    grid-area: label;
  }

  @media (min-width: $desktop-width) {
    margin: 17px 24px 0 1px;
    grid-area: label;
  }
}

.input__control {
  @include text-size(17px, 18px);

  display: block;
  width: 100%;
  color: $color-gray-dark;
  background-color: transparent;
  height: 52px;
  border: none;
  border-bottom: 2px solid $color-gray-darkest;
  padding: 15px 32px 15px 0;
  grid-area: control;

  &:hover,
  &:focus {
    border-bottom: 2px solid $color-green-light;
  }

  &:focus {
    outline: none;
  }

  ::placeholder {
    color: ($color-gray-darkest, 0.3);
  }

  @media (min-width: $tablet-width) {
    font-size: 19px;
    padding: 14px 32px 15px 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 19px;
    padding: 12px 32px 15px 17px;
  }
}

.input__control--textarea {
  border: 2px solid $color-gray-dark;
  min-height: 142px;
  padding: 15px 32px 15px 15px;
  color: $color-gray-darkest;
  resize: vertical;

  &:hover,
  &:focus {
    border-color: $color-green-light;
  }

  &:focus {
    outline: none;
  }
}

.input__icon {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  color: rgba($color-gray-darkest, 0.2);

  @media (min-width: $tablet-width) {
    right: 24px;
  }

  @media (min-width: $desktop-width) {
    right: 7px;
  }
}

.input__control:hover + .input__icon,
.input__control:focus + .input__icon,
.input__control:active + .input__icon {
  color: $color-green-light;
}
