.input {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-areas: "label control";
    grid-template-columns: min-content 1fr;
  }

  &--icon {
    position: relative;
  }
}

.input__label {
  @include label();

  display: block;

  @media (min-width: $tablet-width) {
    margin: 16px 25px 0 0;
    grid-area: label;
  }
}

.input__control {
  @include text-size(17px, 18px);

  display: block;
  width: 100%;
  color: $color-gray-darkest;
  background-color: transparent;
  height: 52px;
  border: none;
  border-bottom: 2px solid $color-gray-darkest;
  padding: 15px 32px 15px 18px;
  grid-area: control;

  &:hover,
  &:focus {
    border-bottom: 2px solid $color-green-medium;
  }

  &:focus {
    outline: none;
  }

  ::placeholder {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }
}

.input__control--textarea {
  border: 2px solid $color-gray-dark;
  min-height: 142px;

  &:hover,
  &:focus {
    border-color: $color-green-medium;
  }

  &:focus {
    outline: none;
  }
}

.input__icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  opacity: 0.2;

  .input__control:focus + & {
    opacity: 1;
    color: $color-green-medium;
  }
}
