.link {
  @include text-size(inherit, inherit);

  color: $color-gray-darkest;
  font-weight: 700;
  text-decoration: none;

  &:hover,
  &:focus {
    color: rgba($color-gray-darkest, 0.6);
    text-decoration: none;
  }

  &:active {
    color: rgba($color-gray-darkest, 0.3);
  }
}

.link--menu {
  display: flex;
  padding: 27px 30px 27px 32px;

  @media (min-width: $tablet-width) {
    padding: 33px 0 31px;
  }
}

.link--email {
  font-weight: 400;
  color: $color-gray-dark;
  text-decoration: underline;
  text-decoration-color: $color-green-light;
  text-underline-offset: 5px;

  &:hover,
  &:focus {
    color: $color-green-darkest;
    text-decoration: underline;
    text-decoration-color: $color-green-darkest;
    opacity: 1;
  }

  &:active {
    color: $color-green-darkest;
    text-decoration: none;
    opacity: 1;
  }

  @media (min-width: $desktop-width) {
    text-underline-offset: 10px;
  }
}

.link--icon-primary {
  color: $color-green-medium;

  &:hover,
  &:focus,
  &:active {
    color: $color-green-darkest;
  }

  &:active {
    opacity: 0.3;
  }
}

.link--icon-secondary {
  color: $color-gray-darkest;

  &:hover,
  &:focus,
  &:active {
    color: $color-green-darkest;
  }

  &:active {
    opacity: 0.3;
  }
}
