.link {
  @include text-size(inherit, inherit);

  color: $color-gray-darkest;
  font-weight: 700;
  text-decoration: none;

  &:hover,
  &:focus {
    color: rgba($color-gray-darkest, 0.6);
    text-decoration: none;
  }

  &:active {
    color: rgba($color-gray-darkest, 0.6);
  }
}

.link--menu {
  display: block;
  width: 100%;
  padding: 20px 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.link--email {
  font-weight: 400;

  &:hover,
  &:focus {
    color: $color-green-medium;
    text-decoration: underline;
    opacity: 1;
  }

  &:active {
    color: $color-green-medium;
    text-decoration: none;
    opacity: 1;
  }
}

.link--delivery {
  @include text-size(15px, 24px);

  font-weight: 400;
  display: block;
  padding: 20px 0;
}

.link--catalog {
  display: block;
  width: 100%;
  padding: 20px 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}

.link--form {
  display: block;
  width: 100%;
  padding: 20px 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}
