.radio-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.radio-group__radio {
  @include visually-hidden();
}

.radio-group__label {
  border: 1px solid rgba($color-gray-dark, 0.1);
  padding: 10px 20px;

  &:hover {
    border-color: rgba($color-gray-dark, 0.3);
  }

  &:active {
    border-color: $color-green-medium;
  }
}
