.radio__input {
  @include visually-hidden();
}

.radio__label {
  @include label();

  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  min-height: 42px;
  padding-left: 60px;

  &::before {
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    width: 41px;
    height: 41px;
    border: 2px solid $color-gray-dark;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 11px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: $color-green-light;
    display: none;
  }

  @media (min-width: $tablet-width) {
    min-height: 52px;
    padding-left: 78px;

    &::before {
      left: 0;
      top: 0;
      width: 51px;
      height: 51px;
    }

    &::after {
      top: 15px;
      left: 15px;
      width: 22px;
      height: 22px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
  }
}

.radio__input:checked + .radio__label::after {
  display: block;
}

.radio__label:hover::before {
  border-color: $color-green-light;
}

.radio__label:active::before {
  border-color: rgba($color-gray-darkest, 0.3);
}
