.order-form {
  padding: 17px 0 55px;
  margin: 0 30px;

  @media (min-width: $tablet-width) {
    padding: 58px 0 50px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 113px;
    margin-left: -130px;
  }
}

.order-form__wrapper {
  @include wrapper();
}

.order-form__description {
  @include text-size(13px, 24px);

  margin: 0 0 36px;

  @media (min-width: $tablet-width) {
    @include text-size(17px, 30px);

    max-width: 668px;
    margin: 0 auto 18px;
  }

  @media (min-width: $desktop-width) {
    max-width: 830px;
    padding-left: 130px;
    margin: 0 auto 14px;
  }
}

.order-form__title {
  @include text-size(17px, 1);

  color: $color-green-medium;
  background-color: $color-gray-lightest;
  min-width: 58px;
  font-weight: 700;
  text-transform: uppercase;
  margin: -9px 0 0;
  padding-right: 20px;
  width: max-content;

  @media (min-width: $tablet-width) {
    grid-area: title;
    margin-top: 65px;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    margin: 23px 0 0 16px;
  }

  &--email {
    @media (min-width: $tablet-width) {
      margin-top: 40px;
    }
  }

  &--textarea {
    @media (min-width: $tablet-width) {
      margin-top: 26px;
    }
  }
}

.order-form__group {
  border-top: 1px solid $color-green-medium;

  @media (min-width: $tablet-width) {
    display: grid;
    border-top: none;
    grid-template-columns: 1fr 170px 500px 1fr;
    grid-template-areas: ". title controls .";
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 130px 700px 1fr;
    padding: 42px 0 24px;
  }

  &--type {
    margin-bottom: 26px;

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &--color {
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &--name {
    margin-bottom: 18px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &--color,
  &--tel,
  &--email {
    @media (min-width: $tablet-width) {
      background-color: $color-gray-light;
    }
  }

  &--tel {
    margin-bottom: 41px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      margin-top: 0;
    }
  }

  &--email {
    margin-bottom: 42px;

    @media (min-width: $tablet-width) {
      margin-bottom: 42px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
      margin-top: -65px;
    }
  }
}

.order-form__controls-list {
  @include list-unset();

  margin: 0;
  display: grid;

  @media (min-width: $tablet-width) {
    grid-area: controls;
  }

  &--radio {
    margin-top: 32px;

    @media (min-width: $tablet-width) {
      margin-top: 46px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 7px;
    }
  }

  &--checkbox {
    margin-top: 25px;

    @media (min-width: $tablet-width) {
      margin: 49px 0 29px;
      grid-template-columns: repeat(2, 1fr);
      gap: 0 20px;
    }

    @media (min-width: $desktop-width) {
      margin: 7px 0 5px;
      grid-template-columns: repeat(3, 1fr);
      gap: 0 99px;
    }
  }

  &--input {
    margin-top: 27px;

    @media (min-width: $tablet-width) {
      margin: 50px 0 26px;
    }

    @media (min-width: $desktop-width) {
      margin: 6px 0 4px;
    }
  }

  &--tel {
    margin-top: 5px;

    @media (min-width: $tablet-width) {
      margin-top: 50px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 7px;
    }
  }

  &--email {
    margin-top: 5px;

    @media (min-width: $tablet-width) {
      margin: 24px 0 50px;
    }

    @media (min-width: $desktop-width) {
      margin: 24px 0 26px;
    }
  }

  &--textarea {
    margin-top: 23px;

    @media (min-width: $tablet-width) {
      margin: 8px 0 51px;
    }

    @media (min-width: $desktop-width) {
      margin: 8px 0 24px;
    }
  }
}

.order-form__radio {
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
  }
}

.order-form__checkbox {
  margin-bottom: 23px;

  @media (min-width: $desktop-width) {
    margin-bottom: 24px;
  }
}

.order-form__input {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
  }
}

.order-form__tel {
  margin-bottom: 0;
}

.order-form__email {
  margin-bottom: 0;
}

.order-form__textarea {
  margin-bottom: 0;
}

.order-form__footer {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-areas: ". submit required .";
    grid-template-columns: 1fr 230px 438px 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-areas: ". . submit required .";
    grid-template-columns: 1fr 128px 230px 470px 1fr;
  }
}

.order-form__submit {
  grid-area: submit;
  width: 100%;
}

.order-form__required {
  @include text-size(14px, 16px);

  grid-area: required;
  place-self: flex-end;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    @include text-size(17px, 20px);
    margin-bottom: 16px;
  }
}
