.poster {
  display: grid;
  grid-template-areas: "preview";

  &::after {
    content: "";
    grid-area: preview;
    place-self: center;
    z-index: 2;
    width: 101px;
    height: 77px;
    background-image: url("../img/icons/play.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}

.poster__preview {
  display: block;
  width: 100%;
  height: auto;
  grid-area: preview;

  @media (min-width: $desktop-width) {
    min-height: 455px;
  }
}
