.poster {
  display: block;
  position: relative;
}

.poster__play {
  position: absolute;
  width: 100px;
  height: 76px;
  top: 50%;
  left: 50%;
  margin: -37px 0 0 -50px;
  transform-origin: center;
  z-index: 2;
  background-image: url("../img/play.svg");
  background-size: contain;
  background-color: transparent;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.2s transform;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.poster__preview {
  display: block;
  width: 100%;
  height: auto;

  @media (min-width: $desktop-width) {
    width: 683px;
    height: 455px;
  }
}
