.products-list {
  @include list-unset();

  @media (min-width: $tablet-width) {
    margin-top: 75px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    margin: 124px -25px 0 -25px;
  }
}

.products-list__item {
  margin: 0 0 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    flex: 0 0 33.33%;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 30px;
  }
}
