.product {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.product__info {
  @include color-scheme($color-gray-lightest, $color-gray-darkest, $color-gray-medium);

  padding: 26px 32px 0 26px;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 179px;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: $tablet-width) {
    padding: 26px 32px 0 32px;
  }

  @media (min-width: $desktop-width) {
    min-height: 197px;
    padding: 26px 32px 0 26px;
  }
}

.product__title {
  margin: 0 0 12px;
  color: inherit;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-bottom: 11px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 7px;
  }
}

.product__title-link {
  color: $color-gray-darkest;
  text-decoration: none;

  &:hover,
  &:focus {
    color: rgba($color-gray-darkest, 0.6);
  }

  &:active {
    color: rgba($color-gray-darkest, 0.6);
  }
}

.product__description {
  margin: 0 0 13px;

  @include text-size(13px, 30px);

  @media (min-width: $tablet-width) {
    margin: 0 0 20px;
    font-size: 15px;
  }
}

.product__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    height: auto;
  }
}

.product__price {
  @include text-size(15px, 24px);

  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.product__order {
  color: $color-gray-darkest;
  opacity: 0.2;

  &:hover,
  &:focus {
    color: $color-green-medium;
    opacity: 1;
  }

  &:active {
    color: $color-green-medium;
    opacity: 0.3;
  }
}

.product__footer {
  padding: 23px 0 25px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $color-gray-medium;
  margin-top: auto;

  @media (min-width: $desktop-width) {
    padding: 14px 0 27px;
  }
}
