.products-list {
  @include list-unset();

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -25px;
    margin-right: -25px;
  }
}

.products-list__item {
  margin: 0 0 30px;

  @media (min-width: $desktop-width) {
    flex: 0 0 33.33%;
    padding-left: 25px;
    padding-right: 25px;
  }
}
