.video {
  border: 1px solid $color-gray-medium;
  padding: 21px 34px 33px;
  margin: 0 0 51px;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-areas:
      "poster"
      "title"
      "description"
      "action";
    padding: 0 0 33px 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-areas:
      "poster title"
      "poster description"
      "poster action"
      "poster .";
    grid-template-columns: 683px 1fr;
    grid-template-rows: repeat(3, min-content) 1fr;
    gap: 0 76px;
    padding: 0 36px 0 0;
    margin: 22px 0 111px;
  }
}

.video__title {
  background-image: url("../img/icons/camera.svg");
  background-repeat: no-repeat;
  grid-area: title;
  padding-left: 57px;

  @media (min-width: $tablet-width) {
    padding-left: 68px;
    margin: 0 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 82px 0 0;
    margin: 0;
    background-position: 0 32px;
    max-width: 230px;
  }
}

.video__description {
  @include text-size(13px, 24px);

  grid-area: description;

  @media (min-width: $tablet-width) {
    @include text-size(15px, 30px);

    margin: 20px 40px 43px;
  }

  @media (min-width: $desktop-width) {
    margin: 9px 0 33px;
  }
}

.video__poster {
  margin-left: -35px;
  margin-right: -35px;
  grid-area: poster;

  @media (min-width: $tablet-width) {
    margin: 0 0 41px;
    border-bottom: 1px solid $color-gray-medium;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    border-bottom: none;
  }
}

.video__button {
  width: 100%;
  grid-area: action;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    margin: 0 40px;
    width: auto;
  }

  @media (min-width: $desktop-width) {
    place-self: start;
    width: 230px;
    margin: 0;
  }
}
