.advantages__wrapper {
  @include wrapper();
}

.advantages__list {
  @include list-unset();
  @include text-size(17px, 20px);

  font-weight: 700;
  color: $color-gray-dark;
}

.advantages__item {
  padding: 50px 20px 20px 50px;
  background-image: url("../img/icons/advantage-1.svg");
  background-repeat: no-repeat;

  &--eco {
    background-image: url("../img/icons/advantage-1.svg");
  }

  &--knit {
    background-image: url("../img/icons/advantage-2.svg");
  }

  &--price {
    background-image: url("../img/icons/advantage-3.svg");
  }

  &--support {
    background-image: url("../img/icons/advantage-4.svg");
  }

  &--like {
    background-image: url("../img/icons/advantage-5.svg");
  }

  &--present {
    background-image: url("../img/icons/advantage-6.svg");
  }
}
