.contacts {
  padding: 42px 0 28px;

  @media (min-width: $tablet-width) {
    padding: 66px 0 47px;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 0 95px;
  }
}

.contacts__wrapper {
  @include wrapper();
  @include zigzag-line();

  &::after {
    top: -45px;

    @media (min-width: $tablet-width) {
      top: -69px;
    }
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-areas:
      "top-left right"
      "center-left right"
      "bottom-left right";
    grid-template-columns: 475px 1fr;
    gap: 0 50px;
  }
}

.contacts__action {
  display: flex;
  margin: 36px auto 10px;

  @include text-size(18px, 20px);

  @media (min-width: $tablet-width) {
    width: 230px;
    margin: 51px auto 10px;
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    grid-area: bottom-left;
    margin: 55px auto 10px 174px;
  }
}

.contacts__list {
  @include text-size(14px, 30px);

  display: grid;
  grid-template-columns: 78px 1fr;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    margin-bottom: 0;
    grid-template-columns: repeat(2, 78px 1fr);
  }

  @media (min-width: $desktop-width) {
    margin-left: 174px;
    grid-area: center-left;
    grid-template-columns: 78px 1fr;
  }
}

.contacts__label,
.contacts__description {
  margin-left: 0;
  padding: 0 0 30px;

  @media (min-width: $tablet-width) {
    padding: 0 0 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 30px;
  }
}

.contacts__address {
  font-style: normal;
}

.contacts__map {
  width: 100%;
  height: 454px;
  border: none;

  &--no-js {
    display: none;
  }
}

.contacts__map-box {
  margin-left: -$wrapper-padding-sm;
  width: calc(100% + #{$wrapper-padding-sm} * 2);

  @media (min-width: $tablet-width) {
    margin-left: -$wrapper-padding-md;
    width: calc(100% + #{$wrapper-padding-md} * 2);
  }

  @media (min-width: $desktop-width) {
    margin: 24px 0 0;
    width: 100%;
    grid-area: right;
  }
}

.contacts__map-image {
  display: none;

  &--no-js {
    display: block;
    width: auto;
    height: auto;
    margin: 0 auto;
  }
}

.contacts__title {
  width: 100%;
  margin: 10px 0 27px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/flag.svg");
    background-repeat: no-repeat;
    background-position: top right 2px;
    min-height: 81px;
    display: flex;
    align-items: center;
    margin: 7px 0 40px;
    padding: 13px 0 0;
  }

  @media (min-width: $desktop-width) {
    background-position: top 64px left 63px;
    grid-area: top-left;
    margin: 22px 0 18px;
    padding: 82px 0 0 174px;
  }
}
