.intro {
  padding: 53px 0 0;
  background-color: #f9f9f9;
  background-image: url("../img/intro-mobile.jpg");
  background-position: top -18px center;
  background-repeat: no-repeat;
  min-height: 373px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/intro-mobile@2x.jpg");
    background-size: 569px 373px;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/intro-tablet.jpg");
    background-position: top -2px center;
    min-height: 758px;
    padding: 134px 0 0;

    @include zigzag();

    &::after {
      bottom: 2px;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-tablet@2x.jpg");
      background-size: 1137px 746px;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/intro-desktop.jpg");
    padding: 135px 0 0;
    min-height: 763px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-desktop@2x.jpg");
      background-size: 1150px 746px;
    }
  }
}

.intro__wrapper {
  @include wrapper();
}

.intro__title {
  max-width: 243px;
  min-height: 194px;
  margin: 20px auto 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 668px;
    min-height: 471px;
  }

  @media (min-width: $desktop-width) {
    margin: 22px auto 0;
    max-width: 700px;
    min-height: 469px;
  }
}

.intro__categories-list {
  @include list-unset();

  margin-left: -#{$wrapper-padding-sm};
  margin-right: -#{$wrapper-padding-sm};

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0;
  }
}

.intro__categories-item {
  background-color: $color-green-medium;
  transition: 0.2s all;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    right: 20px;
    top: 23px;
    background-repeat: no-repeat;
    opacity: 0.5;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 0 $color-green-darkest;
    background-color: $color-green-darkest;
  }

  &:hover:after {
    opacity: 0.7;
  }

  &:active:after {
    opacity: 0.3;
  }

  &--interior:after {
    background-image: url("../img/link-interior.svg");
    right: 36px;
    width: 40px;
    height: 62px;

    @media (min-width: $tablet-width) {
      right: 36px;
      top: 30px;
    }
  }

  &--toy {
    background-color: $color-green-dark;

    &:after {
      right: 26px;
      width: 62px;
      height: 62px;
      background-image: url("../img/link-toy.svg");

      @media (min-width: $tablet-width) {
        right: 31px;
        top: 31px;
      }
    }

    &:hover {
      box-shadow: 0 5px 0 $color-green-lightest;
      background-color: $color-green-lightest;
    }
  }

  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.intro__categories-link {
  @include text-size(19px, 24px);

  display: grid;
  grid-template-columns: min-content;
  min-height: 103px;
  padding: 24px 100px 30px 30px;
  font-weight: 700;
  color: $color-gray-lightest;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    @include text-size(20px, 30px);

    padding: 26px 167px 35px 36px;
  }

  &:hover {
    text-decoration: none;
  }
}
