.main-nav {
  display: grid;
  grid-template-rows: #{$header-height-sm} min-content;

  @media (min-width: $tablet-width) {
    grid-template-rows: min-content;
  }
}

.main-nav__list {
  @include list-unset();

  margin: 0 -#{$wrapper-padding-sm};
  background-color: $color-gray-lightest;
  display: none;

  &--visible {
    display: block;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-areas:
      "logo logo top-right-1 top-right-2"
      "bottom-left-1 bottom-left-2 . bottom-right";
    grid-template-columns: minmax(167px, max-content) 1fr 82px minmax(259px, max-content);
    grid-template-rows: $header-height-md;
    margin: 0;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    grid-template-areas:
      "top-left-1 top-left-2 logo top-right-1 top-right-2"
      "bottom-left-1 bottom-left-2 . . bottom-right";
    grid-template-columns: minmax(185px, max-content) max-content 1fr minmax(82px, min-content) minmax(268px, max-content);
    grid-template-rows: #{$header-height-md} min-content;
  }

  &::before {
    content: "";

    @media (min-width: $tablet-width) {
      grid-area: logo;
    }
  }
}

.main-nav__item {
  border-top: 1px solid $color-gray-medium;
  border-bottom: 1px solid $color-gray-medium;

  @media (min-width: $tablet-width) {
    border: 0;
    display: flex;
    align-items: center;
  }

  &--cart {
    @media (min-width: $tablet-width) {
      grid-area: top-right-2;
      border-left: 1px solid $color-gray-medium;
    }
  }

  &--search {
    @media (min-width: $tablet-width) {
      grid-area: top-right-1;
      border-left: 1px solid $color-gray-medium;
    }
  }

  &--catalog {
    @media (min-width: $tablet-width) {
      grid-area: bottom-left-1;
    }

    @media (min-width: $desktop-width) {
      grid-area: top-left-1;
      border-right: 1px solid $color-gray-medium;
    }
  }

  &--form {
    @media (min-width: $tablet-width) {
      grid-area: bottom-left-2;
    }

    @media (min-width: $desktop-width) {
      grid-area: top-left-2;
    }
  }

  &--delivery {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      grid-area: bottom-right;
      place-self: center end;
    }
  }

  &--more {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}

.main-nav__link {
  display: flex;
  align-items: center;
  padding: 27px 30px 27px 75px;

  @include text-size(15px, 24px);

  @media (min-width: $tablet-width) {
    padding: 20px 0;
  }

  &--search {
    padding-left: 30px;

    @media (min-width: $tablet-width) {
      width: 82px;
      height: 89px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 0;
    }
  }

  &--cart {
    padding-left: 28px;
    font-size: 17px;
  }

  &--catalog,
  &--form {
    padding: 20px 30px 20px 76px;

    @media (min-width: $tablet-width) {
      padding: 20px 0;
    }

    @media (min-width: $desktop-width) {
      font-size: 17px;
    }
  }

  &--form {
    @media (min-width: $desktop-width) {
      padding-left: 35px;
    }
  }

  &--delivery {
    @include text-size(15px, 24px);

    font-weight: 400;
    padding: 20px 0;
  }

  &--sale {
    @media (min-width: $tablet-width) {
      padding: 20px 0 20px 35px;
    }
  }
}

.main-nav__toggle {
  width: 20px;
  height: 40px;
  background-color: transparent;
  border: none;
  background-image: url("../img/icons/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  place-self: center end;

  &--close {
    background-image: url("../img/icons/menu-close.svg");
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__search-text {
  margin-left: 32px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
.main-nav__cart-text {
  margin-left: 32px;
}

.main-nav__item-icon {
  opacity: 0.2;

  :hover > &,
  :focus > & {
    color: $color-green-medium;
    opacity: 1;
  }

  :active > & {
    color: $color-green-medium;
    opacity: 0.3;
  }
}
