.page-footer {
  background-color: $color-gray-light;
  padding: 25px 0 23px;
}

.page-footer__wrapper {
  @include wrapper();

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
