.page-header {
  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $color-gray-medium;
  }
}

.page-header__wrapper {
  @include wrapper();

  display: grid;
  grid-template-rows: $header-height-sm min-content;
  grid-template-areas:
    "top"
    "bottom";

  @media (min-width: $tablet-width) {
    grid-template-rows: $header-height-md min-content;
  }
}

.page-header__logo {
  grid-area: top;
  place-self: center;
  z-index: 2;

  @media (min-width: $tablet-width) {
    place-self: center start;
    margin: 5px 0 0 -1px;
  }

  @media (min-width: $desktop-width) {
    place-self: center;
    margin: 8px 0 0;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__logo-img {
  @media (min-width: $tablet-width) {
    width: 113px;
    height: 46px;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
    height: 72px;
  }
}

.page-header__nav {
  grid-area: top / top / bottom/ top;
  z-index: 1;
}
