.testimonials {
  padding: 0 0 40px;

  @media (min-width: $tablet-width) {
    padding: 0 0 26px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 70px;
  }
}

.testimonials__wrapper {
  @include wrapper();

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-areas:
      "top-left top-right"
      "center center"
      "bottom-left bottom-right";
    grid-template-columns: 1fr 175px;
    grid-template-rows: repeat(3, min-content);
    background-image: url("../img/review-bg.jpg");
    background-size: 350px 455px;
    background-repeat: no-repeat;
    min-height: 350px;
    padding: 82px 50px;
    margin-left: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/review-bg@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr min-content;
    margin-left: auto;
    padding: 78px 50px 82px 225px;
    background-position: 50px 0;
    min-height: 457px;
  }
}

.testimonials__title {
  grid-area: top-left;
  margin: 0 0 12px;

  @media (min-width: $tablet-width) {
    margin: 0 0 22px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 20px;
  }
}

.testimonials__write {
  @include text-size(18px, 20px);

  grid-area: top-right;
  place-self: center;
  width: 100%;

  @media (min-width: $tablet-width) {
    place-self: start;
    width: 175px;
    font-size: 17px;
    margin-top: -4px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.testimonials__list {
  grid-row: center / bottom-left;
  grid-column: center / center;
  z-index: 1;
}

.testimonials__controls {
  grid-area: bottom-right;
  margin: 32px 0 37px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.testimonials__text {
  @include text-size(15px, 30px);

  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
  }
}

.testimonials__name {
  @include text-size(17px, 24px);

  color: $color-gray-darkest;
  font-weight: 700;
  font-style: normal;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
  }
}

.testimonials__user-name {
  @include text-size(17px, 30px);

  display: block;
  margin-top: 2px;
}

.testimonials__item {
  margin: 10px 0 0;
}
