.title {
  font-weight: bold;
  font-family: $text-color-secondary;
  font-size: 25px;
  line-height: 30px;

  &--lg {
    font-size: 27px;
  }

  &--inner {
    background-color: #f1f1f1;
    padding: 73px 23px;
    text-align: center;
  }
}
