$font-family-primary: "Open Sans", "Arial", sans-serif;

$green: #63d1bb;
$dark-green: #56c3b2;

$gray-light: #f1f1f1;
$gray-dark: #444444;
$white: #ffffff;

$text-color-secondary: #000000;
$text-color-primary: $gray-dark;

$wrapper-padding-sm: 30px;
