.cart-form {
  //
}

.cart-form__radio {
  @include visually-hidden();
}

.cart-form__submit {
  width: 100%;
}

.cart-form__label {
  border: 1px solid rgba($gray-dark, 0.1);
  padding: 10px 20px;

  &:hover {
    border-color: rgba($gray-dark, 0.3);
  }

  &:active {
    border-color: $green;
  }
}
