.intro {
  padding-top: 53px;
  background-image: url("../img/intro-mobile.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  min-width: 373px;
}

.intro__wrapper {
  @include wrapper();
}

.intro__title {
  max-width: 240px;
  margin: 20px auto;
  text-align: center;
}

.intro__categories-list {
  @include list-unset();
}

.intro__categories-item {
  background-color: $green;
  background-repeat: no-repeat;
  background-position: center right 20px;

  &--interior {
    background-image: url("../img/icons/link-interior.svg");
    background-position: center right 30px;
  }

  &--toy {
    background-image: url("../img/icons/link-toy.svg");
    background-color: $dark-green;
  }
}

.intro__categories-link {
  display: block;
  min-height: 79px;
  padding: 20px 100px 20px 20px;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: $white;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
